<% form_for(@book, url{controller:'books', action:'add'})
do |form| %>
<tr><th>Title</th>
<td><%= form.text_field :title, { size:40 } %></td></tr>

<tr><th>Bpdy</th>
<td><%= form.text_field :body, { size:40 } %></td></tr>

<p class ="link"><a href="/books">Back</a></p>
