  <head>
    <title></title>
 </head>

  <body>
    <p id="notice"></p>

<p>
  <strong>Title:</strong>
  aaa
</p>

<p>
  <strong>Body:</strong>
  aaa
</p>

<a class="edit_242039" href="/books/242039/edit">Edit</a> |
<a class="back" href="/books">Back</a>

  </body>